# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Passing a Lambda Expression to a Function

In the next excercise you will create a function that returns a lambda expression. Create a function called `modify_list`. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

In [5]:
def modify_list(lst, lmbda):
    """
    Input: list and lambda expression
    
    Output: the transformed list
    """
    
name_list = ['anna', 'peter', 'john', 'helen']

name_list.sort(key = lambda name: name.upper())

name_list

#I wanted to change initial letter to capital letter, no success.

['anna', 'helen', 'john', 'peter']

#### Now we will define a lambda expression that will transform the elements of the list. 

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0Â°C + 273.15 = 273.15K

In [6]:
converter = lambda x: (x + 273.15)
converter(6)

279.15

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [11]:
temps = [12, 23, 38, -55, 24]

g = lambda x: x + 273.15
kelvin = list(map(g, temps))

print (kelvin)

[285.15, 296.15, 311.15, 218.14999999999998, 297.15]

#### In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression `mod`.

In [84]:
mod = lambda x,y: x if not y else mod(y,x%y)

#### Now create a function that returns mod. The function only takes one argument - the first number in the `mod` lambda function. 

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [82]:
def divisor(b):
    """
    input: a number
    output: a function that returns 1 if the number is divisible by another number (to be passed later) and zero otherwise
    """
return(mod)

SyntaxError: 'return' outside function (<ipython-input-82-3c48916e7772>, line 6)

Finally, pass the number 5 to `divisor`. Now the function will check whether a number is divisble by 5. Assign this function to `divisible5`

In [7]:
div = lambda num, denom: num / denom if (denom != 0) else 0
 
div(5, 10)
0.5
 
div(10, 0)
0

Test your function with the following test cases:

In [ ]:
divisible5(10)

In [ ]:
divisible5(8)

# Challenge 2 - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension. 

To do this, we will need to introduce the `zip` function. The `zip` function returns an iterator of tuples.

In [10]:
# Here is an example of passing one list to the zip function. 
# Since the zip function returns an iterator, we need to evaluate the iterator by using a list comprehension.

l = [1,2,3,4,5]
[x for x in zip(l)]

[(1,), (2,), (3,), (4,), (5,)]

Using the `zip` function, let's iterate through two lists and add the elements by position. Here is an example using a list comprehension.

In [1]:
list1 = [21, 35, 72, 11]
list2 = [1, 4, 15, 22]

[a + b for (a, b) in zip(list1, list2)]

[22, 39, 87, 33]

Using the zip function, write a lambda expression that combines the two strings (with a space between the strings) from both lists unless the two strings are identical.

In [80]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']

list(map(lambda x, y: x+ ' ' +y, list1, list2))

# How to take out identical items?

['Green eggs', 'cheese cheese', 'English cucumber', 'tomato tomato']

# Challenge 3 - Using Lambda Expressions as Arguments

#### In this challenge, we will zip together two lists and sort by the resulting tuple.

In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [73]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']

tuple(map(lambda x, y: x+ ' ' +y, list1, list2))

#This a tuple, not four tuples. So I can't sort the second element for each one.

('Engineering Lab',
 'Computer Science Homework',
 'Political Science Essay',
 'Mathematics Module')

In [57]:
[a + b for (a, b) in zip(list1, list2)]

['EngineeringLab',
 'Computer ScienceHomework',
 'Political ScienceEssay',
 'MathematicsModule']

# Bonus Challenge - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [71]:
# d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

sorted(d.items(), key=lambda x: x[0])

# I only found the way to sort by key and first letter

[('Audi', 2001), ('BMW', 2005), ('Honda', 1997), ('Toyota', 1995)]

In [53]:
# I was trying to do it like this but it's the reverse of the whole list

sorted(d.items(), key=lambda x: x[1], reverse= True)

[('BMW', 2005), ('Audi', 2001), ('Honda', 1997), ('Toyota', 1995)]